*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: none;
    color: white;
}

@media (max-width:770px){
    body{
        background-image: url(../images/bg-mobile.svg);
        background-size: contain;
    }
    .logo img{
        width: 150px;
    }
    .container{
        flex-direction: column;
        margin: 30px;
    }
    .container img {
        width: 300px;
    }
    .text{
        align-items: center;
    }
    .text h1{
        font-size: 24px;
        text-align: center;
    }
    .text p{
        font-size: 16px;
        text-align: center;
    }
    .text button{
        padding: 14px 100px;
    }
    .social{
        align-items: center;
        justify-content: center;
    }
    .fab{
        font-size: 18px;
    }
