main{
    max-width: 1440px;
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .container{
    margin: 50px;
}

.container{
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: flex-start;
}

.text h1{
    font-size: 50px;
}
.text > *{
    margin-bottom: 20px;
}

.text button{
    color: hsl(257, 40%, 49%);
    padding: 14px 70px;
    border-radius: 30px;
}

.text button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    cursor: pointer;
}

.social{
    margin: 20 px 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.fab{
    margin: 15px;
    padding: 10px;
    border: solid 2px;
    border-radius: 50%;
    font-size: 30px;
}
.fa-facebook-f{
    padding: 10px 15.63px;
}
.fa-instagram{
    padding: 10px 11.9px;
}
.fab:hover{
    color:hsl(300, 69%, 71%);
    cursor: pointer;
}




